* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: black;
    border-bottom: 0.5px solid rgba(245, 222, 179, 0.665);
    color: wheat;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 85vh;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    color: antiquewhite;
    height: 200px;
}

